<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>Hello world - Admin panel</h1>
    <div>clasa</div>
    <script>
      setTimeout(() => {
        window.location.reload();
      }, 1000);
    </script>
  </body>
</html>
